$black: #000;
$yellow: #F9C802;
$white: #ffffff;
$lightGray: #808082;
$titlebarTextDark: #cacaca;
$red: #ff0000;
$green: #00ff00;
$darkGray: #1e1e1e;
$gray: #212528;
$blue: #14b5d0;
$terminalDescription: #a3a3a3