@import "_normalize";
@import "_variables";
@import "modules/project";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $white;
  background: $black;
}